
header{
    position: absolute;
    z-index: 10;
    width: 100%;
}

.navbar{
    padding: 20px 0;
}
.navbar-brand{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2rem;
}

.nav-item{
    font-weight: 800;
    text-transform: uppercase;
}


.navbar-light .navbar-nav .nav-item.active .nav-link, .navbar-light .navbar-nav .nav-item .nav-link:hover
{
    background: #262626;
    color: #fff;
}

.navbar-light .navbar-nav .nav-item .nav-link{
    color: #262626;
    padding: 5px 15px;
}
.banner{
    position: relative;
    background: url(bg.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 200px ;
}

.banner h1{
    margin: 0;
    padding: 0;
    font-size: 2.8em;
    font-weight: 1000;
    color: black;
    text-transform: uppercase;
}

.navbar-light .navbar-toggler{
    border: none;
    color: #fff;
    border: 2px solid #7f7f7f;
    border-radius: 0;

}

.dots{
    position: relative;
    margin: 5rem;
    left: 65rem;
    bottom: 4rem;
    max-width: 200px;
    max-height: 200px;
    z-index: 1;
}
  

.box1{
    top: 870px;
    left :300px;
    background: white;
    position: absolute;
    width: 900px;
    height: 300px;
    box-shadow: 0 5px 25px 0 
                rgba(0,0,0, .25);
    z-index: 4;
  }


@media(max-width:768px){
    .banner{
        padding: 200px 0;
    }
    .banner h2{
        font-size: 1.8em;
    }

}

