
header{
    position: absolute;
    z-index: 10;
    width: 100%;
}

.hello h1,p{
    display: flex;
    justify-content: center;
    position: relative;

}

.about p{
    font-size: 23px;
    margin-left: 60px;
}

.about a{
    margin-left: 60px;
}
.navbar{
    padding: 20px 0;
}
.navbar-brand{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2rem;
}

.nav-item{
    font-weight: 800;
    text-transform: uppercase;
}


.navbar-light .navbar-nav .nav-item.active .nav-link, .navbar-light .navbar-nav .nav-item .nav-link:hover
{
    background: #262626;
    color: #fff;
}

.navbar-light .navbar-nav .nav-item .nav-link{
    color: #262626;
    padding: 5px 15px;
}
.banner{
    position: relative;
    background: url(bg.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 200px ;
}

.banner h1{
    margin: 0;
    padding: 0;
    font-size: 2.8em;
    font-weight: 1000;
    color: black;
    text-transform: uppercase;
}

.navbar-light .navbar-toggler{
    border: none;
    color: #fff;
    border: 2px solid #7f7f7f;
    border-radius: 0;

}
.about h1{
    font-size: 50px;
}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  

  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  

  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  
@media(max-width:768px){
    .banner{
        padding: 200px 0;
    }
    .banner h2{
        font-size: 1.8em;
        text-align: center;
    }
    .about h1{
        font-size: 60px;
    }
}

